[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  included_files = []
  timeout = 26

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
